@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-4">
    <h1 class="display-4 mt-4">Employees App</h1>
    <h2 class="mt-4">Assignment 2 - C# .NET</h2>
    <h3 class="mt-2">Tiberio Calderon | C0941386</h3>
    <a class="btn btn-primary mt-4 btn-lg p-3 px-5" asp-controller="Employees" asp-action="Index">Manage
        Employees...</a>
</div>
